<!DOCTYPE html>
<html>
  <head>
    <title>Fubtol Data Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Futbol Data Server</h1>
    <p>Plataforma en desarrollo. Utilice los comandos en la consola.</p>
  </body>
</html>
